.header {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
     border-radius: 50px ;
}

.logo {
    width: 200px;
     border-radius: 50px ;
}

.nav-items {
    padding:  50px 40px;

}

.nav-items > ul {
    font-size: 24px;
    display: flex;
    list-style-type: none;
}

.nav-items > ul > li {
    padding: 10px;
    margin: 10px
    border-radius: 10px;
}

.res-container {
    display: flex;
    flex-wrap: wrap;
}

.res-card {
    margin: 5px;
    padding: 5px;
    width: 200px;
     border-radius: 20px ;
}

.res-card:hover {
    cursor: pointer;
    border-radius: 20px ;
    border: 1px solid black;
}

.search {
    padding: 10px
}

.res-logo {
    width: 100%;
    border-radius: 20px;
}
.filter-btn {
 margin: 10px;
    padding: 10px;
    background-color: blueviolet;
    border: 1px solid black;
    border-radius: 5px;
 cursor: pointer;
}